<header class="header" routerLink="/recipe-list">
  <img src="../assets/icon-fire.svg" alt="#" class="icon" />Spark Recipes
  <img src="../assets/icon-fire.svg" alt="#" class="icon" />
</header>
<nav class="nav">
  <img
    src="../assets/white-magnifying-glass.svg"
    class="list"
    (click)="goBack()"
  />
  <img
    *ngIf="favorites.length === 0"
    src="../assets/white-flame.svg"
    class="list"
    routerLink="/favorites"
  />
  <img
    *ngIf="favorites.length > 0"
    src="../assets/icon-fire.svg"
    class="list"
    routerLink="/favorites"
  />
</nav>
