<div>
  <li class="card">
    <p class="label">{{ recipeRef.recipe.label }}</p>

    <img src="{{ recipeRef.recipe.image }}" />
    <button class="btn" *ngIf="showRecipe === false" (click)="toggleForm()">
      YUM
    </button>

    <img
      class="icon"
      src="../assets/fire-gray.svg"
      *ngIf="showFavorite === false"
      (click)="addFavorite(recipeRef)"
    />
    <img
      class="icon"
      src="../assets/icon-fire.svg"
      *ngIf="showFavorite === true"
      (click)="addFavorite(recipeRef)"
    />
  </li>
</div>

<div *ngIf="showRecipe === true" class="recipe-container">
  <div class="recipe">
    <button class="btnx" (click)="toggleForm()">X</button>
    <p>{{ recipeRef.recipe.label }}</p>
    <a class="link" href="{{ recipeRef.recipe.url }}" target="_blank"
      >See Full recipe</a
    >
    <p>{{ recipeRef.recipe.calories.toFixed(0) }} Calories</p>
    <img src="{{ recipeRef.recipe.image }}" />
    <p>{{ recipeRef.recipe.totalTime }} Minutes</p>
    <p>{{ recipeRef.recipe.ingredientLines }}</p>
  </div>
</div>
